.three{
  background-color: var(--cl-bg-section);
  & .three__title{
    margin-bottom: 3.75rem;
  }
  & .three__part-title{
    @media (min-width: 1200px) {
      margin-bottom: 3rem; 
    }
  }
  & .three__description{
    margin-bottom: 3rem;
    color: var(--cl-secondary);
    font-size: 1.25rem;
    text-align: center;
  }
  &__steps{
    margin: 0 auto 3rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    @media (min-width: 768px) {
      margin-bottom: 4rem;
      gap: 0;
    }
    .tile + .tile::before {
      // content: "arrow"
    }
  }
  &__stack{
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    @media (min-width: 768px) {
      margin-bottom: 3.5rem;
    }
    .tile{
      @media (min-width: 1200px){
        flex-basis: 320px;
      }
    }
  }
  &__controls{
    padding-top: 3rem;
    text-align: center;
  }
}