.eight {
  background-color: var(--cl-bg-section);
  .eight__title {
    margin-bottom: 4rem;
  }

  .eight__part-title {
    margin-bottom: 2rem;

    @media (min-width: 1200px) {
      margin-bottom: 3rem;
    }
  }

  &__list {
    max-width: 984px;
    margin: 0 auto 4rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;

    @media (min-width: 768px) {
      margin-bottom: 5rem;
      flex-direction: row;
      justify-content: center;
      gap: 3rem;
    }

    @media (min-width: 1200px) {
      margin-bottom: 7rem;
      gap: 4rem;
    }
  }

  &__subtitle {
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 24px;

    /* line-height: 32px; */
    line-height: 133%;
    color: #181d27;
  }

  &__results {
    margin: 0 auto;
    max-width: 984px;
  }
}

.eight-unit {
  @media (min-width: 768px) {
    flex: 1 0 45%;
  }

  @media (min-width: 1024px) {
    flex: 1 0 auto;

  }

  &__title {
    margin-bottom: 0.25rem;
    font-weight: 600;
    font-size: 20px;

    /* line-height: 30px; */
    line-height: 150%;
    color: var(--cl-green);
  }

  &__list {
    padding-left: 10px;
    font-weight: 400;
    font-size: 1.125rem;

    /* line-height: 28px; */
    line-height: 156%;
    color: #535862;
  }
}

.eight-result {
  // padding-left: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  color: #535862;
  font-size: 1.125rem;
  @media (min-width: 768px) {
    padding-left: 20px;
  }
  &__icon {
    width: 28px;
    flex-shrink: 0;
  }

  &+& {
    margin-top: 20px;
  }
}