.tile{
  &--default{
    flex-basis: 100%;
    .tile__title{
      margin-bottom: calc(12rem / 16);
      color: var(--cl-green);
      font-size: 1.875rem;
      text-align: center;
      color: var(--cl-red);
      @media (min-width: 1024px) {
        font-size: 3.75rem;
      }
    }
    .tile__description{
      margin: 0;
      text-align: center;
      font-size: calc(18rem / 16);
      line-height: 1.5;
      font-weight: 600;
    }
  }
  &--steps{
    .tile__title{
      margin-bottom: 1rem;
      font-size: 1.25rem;
      color: var(--cl-secondary);
    }
  }
  &--money{
    padding: 1rem;
    background-color: var(--cl-bg-white);
    border-radius: 0.5rem;
    border: 1px solid var(--cl-border);
    .tile__title{
      color: var(--cl-secondary);
      font-size: 1rem;
    }
    .tile__list{
      margin-top: 0.85rem;
      font-size: 0.85rem;
    }
  }
  &--financial{
    padding: 1rem;
    background-color: var(--cl-bg-white);
    border-radius: 0.5rem;
    border: 1px solid var(--cl-border);
    .tile__title{
      color: var(--cl-secondary);
      font-size: 1rem;
    }
    .tile__list{
      margin-top: 0.85rem;
      font-size: 0.85rem;
      list-style: none;
    }
  }
  &--digital{
    padding: 1rem;
    background-color: var(--cl-bg-white);
    border-radius: 0.5rem;
    border: 1px solid var(--cl-border);
    .tile__title{
      color: var(--cl-tile-blue);
      font-size: 1rem;
    }
    .tile__description,
    .tile__list{
      margin-top: 0.85rem;
      font-size: 0.85rem;
    }
    .tile__description + .tile__list{
      margin-top: 0;
    }
  }
  &--results{
    .tile__title{
      margin-bottom: 0.75rem;
      color: var(--cl-green);
      font-size: 1.875rem;
      text-align: center;
      color: var(--cl-green);
      @media (min-width: 1024px) {
        font-size: 3.75rem;
      }
    }
    .tile__description{
      margin: 0;
      text-align: center;
      line-height: 1.5;
      font-weight: 600;
    }
  }
  &__title{
    margin: 0;
    line-height: 1.2;
    font-weight: 600;
    &--icon{
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      column-gap: 0.5rem;
    }
  }
  &__description{
    font-size: 1.125rem;
    margin: 0;
    color: var(--cl-secondary);
  }
  &__list{
    margin: 0;
    padding: 0;
    list-style-position: inside;
    color: var(--cl-secondary);
    font-size: 1rem;
    line-height: 150%;
  }
  &__result{
    color: var(--cl-lightblue);
  }
}