.tile{
  &--default{
    flex-basis: 100%;
    @media (min-width: 768px) {
      flex-basis: calc(100% / 3);
    }
    .tile__title{
      margin-bottom: 1.2rem;
      color: var(--cl-tile-blue);
      font-size: 1.875rem;
      font-weight: 500;
      text-align: center;
    }
    .tile__description{
      margin: 0;
      text-align: center;
      color: var(--cl-tile-grey);
    }
  }
  &--steps{
    .tile__title{
      margin-bottom: 1rem;
      font-weight: 500;
      font-size: 1.25rem;
      color: var(--cl-secondary);
    }
  }
  &__title{
    margin: 0;
    &--icon{
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      column-gap: 0.5rem;
    }
  }
  &__description{
    margin: 0;
  }
  &__list{
    margin: 0;
    padding: 0;
    list-style-position: inside;
    color: var(--cl-secondary);
    font-size: 1rem;
    line-height: 150%;
  }
}