.header {
  // top: -100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #F0F0F0;
  background-color: var(--cl-bg-white);
  transition: 0.3s;
  &--fixed{
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
  }

  &__content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  &__controls {
    @media (max-width: 767px) {
      width: min-content;
    }
  }

  &__logo {
    font-size: 1.5rem;
    letter-spacing: -0.02em;
    font-weight: 600;

    &:visited {
      color: var(--cl-primary);
    }
  }
}