.nine {
  padding-top: 7rem;
  overflow: hidden;
  .nine__title {
    margin-bottom: 5rem;
  }

  .nine__part-title {
    margin-bottom: 2rem;

    @media (min-width: 1200px) {
      margin-bottom: 3rem;
    }
  }
  &__content{
    overflow: hidden;
  }
  &__controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
    a{
      @media (max-width: 549px) {
        width: 70%;
      }
    }
  }
}

.stage {
  position: relative;

  &+& {
    margin-top: 2rem;

    @media (min-width: 1200px) {
      margin-top: 4rem;
    }
  }

  .stage__title {
    margin-bottom: 3rem;
    font-weight: 600;
    font-size: 24px;

    /* line-height: 32px; */
    line-height: 133%;
    text-align: center;
    color: #181d27;
  }

  &__list {
    margin-bottom: 3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;

    @media (max-width: 1199px) {
      position: relative;
      padding-left: 30px;
    }
    @media (min-width: 768px) {
      justify-content: space-around;
    }

    @media (min-width: 1200px) {
      margin-bottom: 6rem;
    }
    @media (min-width: 1600px) {
      justify-content: space-between;
    }

    br {
      @media (max-width: 767px) {
        display: none;
      }
    }
    &::before{
    @media (max-width: 1199px) {

      content: "";
      position: absolute;
      top: 0;
      left: 0px;
      width: 8px;
      height: 100%;
      background: linear-gradient(248deg, #1570ef 0%, #1570ef 100%);
      opacity: 0.1;

    }
    }
  }

  &::after {
    @media (min-width: 1200px) {

      content: "";
      position: absolute;
      top: 328px;
      left: 0vw;
      width: 100vw;
      height: 8px;
      background: linear-gradient(248deg, #1570ef 0%, #1570ef 100%);
      opacity: 0.1;
    }
  }
}

.stage-step {
  @media (min-width: 1200px) {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 2rem;
  }

  &--start {

    .stage-step__list::before {
      @media (min-width: 1200px) {
        content: "";
        position: absolute;
        top: -7px;
        right: 100%;
        width: 100vw;
        background-repeat: repeat-x;
        height: 2px;
        background-image: url("data:image/svg+xml,%3Csvg width='125' height='3' viewBox='0 0 125 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1' y1='1.125' x2='124' y2='1.125' stroke='%231570EF' stroke-width='2' stroke-linecap='round' stroke-dasharray='1 5'/%3E%3C/svg%3E%0A");
      }
    }
    .stage-step__list::after {
      @media (min-width: 1200px) {

        background-image: url("data:image/svg+xml,%0A%3Csvg width='32' height='32' viewBox='0 0 56 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_322_1148)'%3E%3Ccircle cx='28' cy='28.875' r='16' fill='%231570EF' fill-opacity='0.1'/%3E%3Ccircle cx='28' cy='28.875' r='8' fill='%231570EF'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_322_1148' x='0' y='0.875' width='56' height='56' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='6'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.0823529 0 0 0 0 0.439216 0 0 0 0 0.937255 0 0 0 1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_322_1148'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_322_1148' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
        background-size: 56px;
        background-position: center;
        width: 56px;
        height: 56px;
        top: -36px;
        left: -28px;
      }
    }
  }

  &--top {
    @media (min-width: 1200px) {
      flex-direction: column-reverse;
    }

    .stage-step__list {
      &::after {
        @media (min-width: 1200px) {
          top: unset;
          bottom: -16px;
        }
      }
    }

  }

  &--bottom {
    @media (min-width: 1200px) {
      margin-top: 198px;
    }
  }

  &__title {
    position: relative;
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: var(--cl-green);

    @media (min-width: 1200px) {
      margin-left: -50px;
    }
  }

  &__list {
    position: relative;
    margin: 0;
    max-width: 330px;

    @media (min-width: 1200px) {
      height: 250px;
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 20px;
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: center;
      border-left: 1px solid #1570ef;
    }

    &::after {
      @media (min-width: 1200px) {

        content: "";
        position: absolute;
        top: -24px;
        left: -16px;
        width: 32px;
        height: 32px;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='33' viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='0.894531' width='32' height='32' rx='16' fill='%231570EF' fill-opacity='0.1' /%3E%3Ccircle cx='16' cy='16.8945' r='8' fill='%231570EF' /%3E%3C/svg%3E");
      }
    }
  }

  &__item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.25rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #535862;
  }
}