:root {
  // --cl-primary: #262626;
  --cl-primary: #181d27;
  --cl-secondary: #535862;
  --cl-additional: #8C8C8C;
  --cl-blue: #175CD3;
  --cl-red: #e04f16;
  --cl-lightblue: #40a9ff;
  --cl-tile-blue: #69c0ff;
  --cl-green: #099250;
  --cl-green: #099250;
  --cl-tile-grey: #595959;
  --cl-bg-section: #FAFAFA;
  --cl-bg-white: #FFFFFF;
  --cl-border: #f0f0f0;
  --cl-stage: rgba(0, 0, 0, 0.85);
}

// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
//   src: url('./font/Inter.ttf') format('ttf');
// }

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: var(--cl-primary);
  line-height: 1.2;
  text-wrap: balance;
}

body * {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
}

h1,
h2 {
  @media (max-width: 767px) {
    font-size: 28px !important;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

h2.subtitle {
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--cl-primary);
}

h3.part-title {
  font-weight: 500;
  text-align: center;
  // color: var(--cl-secondary);
}

h4 {
  text-align: center;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

p {
  margin: 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;

  @media (min-width: 1320px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (min-width: 1440px) {}
}

.section {
  // padding-top: 2.5rem;
  // padding-bottom: 2.5rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  // @media (min-width: 1200px){
  //   padding-top: 6rem;
  //   padding-bottom: 6rem;
  // }

}