.footer {
  background-color: var(--cl-bg-section);

  &__content {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;

    @media (min-width: 1200px) {
      flex-flow: row nowrap;
      justify-content: space-between;
      gap: 1.5rem;
    }
    @media (min-width: 1440px) {
      justify-content: center;
    }

  }

  // &__info{
  //   display: flex;
  //   flex-flow: row wrap;
  //   align-items: flex-start;
  //   justify-content: space-between;
  //   row-gap: 2rem;
  //   @media (min-width: 1200px) {
  //     flex: 0 0 37.5rem;
  //     column-gap: 2rem;
  //   }
  // }
  // &__preview,
  &__contacts {
    @media (min-width: 768px) {
      // flex-basis: calc(50% - 1rem);
    }

    @media (min-width: 1200px) {
      // flex-basis: calc(50% - 1rem);
      flex: 0 0 auto;
    }

  }

  &__preview {
    @media (min-width: 1024px) {
      flex-shrink: 0;
      flex-basis: 350px;
    }
  }

  &__materials {

    // flex-basis: 100%;
    @media (min-width: 768px) {
      // flex-basis: calc(50% - 1rem);
    }

    @media (min-width: 1200px) {
      margin-left: 1.5rem;
      // flex-basis: 20.25rem;
      flex: 0 0 370px;
    }
  }
}

.footer-contacts {
  .footer-contacts__title {
    // margin-bottom: 1.25rem;
    // font-size: 1.25rem;
    font-weight: 500;
    color: var(--cl-secondary);
  }

  &__list {
    margin-bottom: 1.5rem;
    line-height: 1.5;
    color: var(--cl-secondary);
  }

  .footer-contacts__link {
    color: inherit
  }

  &__qr {
    width: 164px;
    aspect-ratio: 1;
    line-height: 0;
  }
}

.footer-materials {
  .footer-materials__title {
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
    font-weight: 500;
    text-align: start;
  }

  &__list {
    margin-bottom: 1.5rem;
    line-height: 1.5;
    color: var(--cl-secondary);

    a {
      padding: 0;
      height: auto;
    }
  }
}