.two{
  background-color: var(--cl-bg-section);
  &.section{
    @media (min-width: 1200px){
      // padding-bottom: 3rem;
    }
  }
  &__title-icon{
    width: 56px;
    display: block;
    margin: 0 auto 1.5rem;
  }
  & .two__title{
    margin-bottom: 1.5rem;
    letter-spacing: -0.02em;
    text-align: center;
    @media (min-width: 1200px){
      margin-bottom: 4rem;
    }
  }
  & .two__description{
    margin-bottom: 3rem;
    font-size: 1.25rem;
    color: var(--cl-secondary);
    text-align: center;
  }
  &__problems{
    margin-bottom: 2rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    @media (min-width: 768px) {
      margin-bottom: 3rem;
      column-gap: 2rem;
      row-gap: 4rem;
    }
    @media (min-width: 1200px) {
      margin-bottom: 4rem;
    }
    .tile{
      @media (min-width: 768px) {
        flex: 0 0 30%;
      }
      @media (min-width: 1200px) {
      }
      &__description{
        max-width: 12rem;
        margin: 0 auto;
        font-size: 1rem;
      }
    }
  }
  &__list{
    margin: 0;
    padding: 0;
    color: var(--cl-secondary);
    line-height: 1.5;
  }
  &__list-item{
    font-size: 1.25rem;
    text-align: center;
  }
}