.four{
  & .four__title{
    margin-bottom: 5rem;
  }
  &__results{
    max-width: 900px;
    margin: 0 auto 3rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    @media (min-width: 768px) {
      gap: 0;
    }
    @media (min-width: 1200px) {
      margin-bottom: 1rem;
    }
    .tile{
      @media (min-width: 768px) {
        padding: 1.5rem 0;
      }
      @media (min-width: 1200px) {
        padding: 3.5rem 0 5.5rem;
      }
      &__description{
        // max-width: 12rem;
        margin: 0 auto;
        font-size: 1rem;
      }
    }
  }
  &__controls{
    text-align: center;
  }
}